<div class="bg-white px-8 py-4 flex items-center justify-between border-b mb-16">



    <div class="flex items-center">
        <a href="" class="text-xl font-bold mr-8">Chairbnb</a>

        <input type="search" class="border px-4 py-1 rounded w-64"  placeholder="Search for the perfect chair">
    </div>


    <div class="flex items-center">
        <a href="/chairs" class="p-1 block ml-8">Chairs</a>
        <a href="" class="p-1 block ml-8">Link 1</a>
        <a href="" class="p-1 block ml-8">Link 1</a>
    </div>

</div>